<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>requestId</key>
	<string>TEST</string>
	<key>userName</key>
	<string>Nasif</string>
	<key>clientID</key>
	<string>TEST</string>
	<key>password</key>
	<string>novell@123</string>
	<key>Color</key>
	<dict>
		<key>LightBackground</key>
		<string>#f7f7f7</string>
		<key>OptionChainTitleBar</key>
		<string>#dd3b6d</string>
		<key>Default</key>
		<string>#566299</string>
		<key>MarketTitleBar</key>
		<string>#1abc9b</string>
		<key>OrderTitleBar</key>
		<string>#e74c3b</string>
		<key>TradeTitleBar</key>
		<string>#ff9500</string>
		<key>QuotesTitleBar</key>
		<string>#3498da</string>
		<key>AccountTitleBar</key>
		<string>#ffcc00</string>
		<key>ChartTitleBar</key>
		<string>#4cd964</string>
		<key>PositionsTitleBar</key>
		<string>#E7492D</string>
		<key>ViewsTitleBar</key>
		<string>#F1B409</string>
		<key>AdminMessagesTitleBar</key>
		<string>#4eadff</string>
		<key>WatchListTitleBar</key>
		<string>#8e44ad</string>
		<key>NewsTitleBar</key>
		<string>#408F09</string>
	</dict>
	<key>MenuItems</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Chart</string>
			<key>Image</key>
			<string>chart</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Quote</string>
			<key>Image</key>
			<string>quote</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Market</string>
			<key>Image</key>
			<string>market</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Trade</string>
			<key>Image</key>
			<string>trade</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Orders</string>
			<key>Image</key>
			<string>orderbook</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Watch List</string>
			<key>Image</key>
			<string>watchlist</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>News</string>
			<key>Image</key>
			<string>news</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Positions</string>
			<key>Image</key>
			<string>positions</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Option Chain</string>
			<key>Image</key>
			<string>optionchain</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Admin Views</string>
			<key>Image</key>
			<string>adminviews</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Account</string>
			<key>Image</key>
			<string>account</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Admin Messages</string>
			<key>Image</key>
			<string>adminmessages</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Map</string>
			<key>Image</key>
			<string>map</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Customer Feedback</string>
			<key>Image</key>
			<string>customerfeedback</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>BackOffice Report</string>
			<key>Image</key>
			<string>backoffice</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>settings</string>
			<key>Name</key>
			<string>Settings</string>
		</dict>
	</array>
</dict>
</plist>
